

      <div
        className="relative"
        style={{
          height: data.height,
          width: data.width,
          backgroundColor: data.color,
          // opacity: "60%"
        }}
      >
        {/* Top */}

        <div
          className="top"
          style={{
            width: "100%",
            height: "33%",
            // backgroundColor: data.color,
            borderRadius: "50%",
            position: "absolute",
            top: "-15%",
            backgroundColor: data.color || "rgba(255, 0, 0, 0.5)",
          }}
        ></div>
        <div
          style={{
            width: "100%",
            height: "100%",
            position: "absolute",
            display: "flex",
            justifyContent: "center",
            alignItems: "center",
            backgroundColor: data.color || "rgba(255, 0, 0, 0.5)",
          }}
        >
          <div className="opacity:100%">{data.label}</div>
        </div>
        {/* Bottom */}

        <div
          className="bottom"
          style={{
            width: "100%",
            height: "33%",
            backgroundColor: data.color || "rgba(255, 0, 0, 0.5)",
            borderRadius: "50%",
            position: "absolute",
            top: "83.5%",
          }}
        ></div>
      </div>